body {
    padding: 70px 20px 20px;
}

.name, .upCount {
    text-align: center;
}

.badge-warning {
    background-color: #f89406 !important;
}

.badge-success {
    background-color: #468847 !important;
}

.badge-danger {
    background-color: #b94a48 !important;
}
